# Class exercise 1:

![](https://miro.medium.com/max/1266/1*Pb8oEA1nGIONsSJk7QSVzg.png)

In [11]:
float1 = int(input("Write the first number"))
float2 = float(input("Write the second number")) 
print(type(float1 * float2))
float1 * float2

Write the first number019222222222222222222222222222298444
Write the second number12
<class 'float'>

2.3066666666666666e+35

In [20]:
%timeit 55000 in range(1000000)

293 ns ± 5.72 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [24]:
names = ["Simon","John","Holger","Karen","Frank","Franz"]
result = [name for name in names]
result

['Simon', 'John', 'Holger', 'Karen', 'Frank', 'Franz']

In [77]:
# opgave 1.A Iterate a list of names to return a list of the names starting with H
names = ["Simon","John","Holger","Hans","Frank","Franz"]
namesWithH = [h for h in names if h[0].lower() == "h" ]
namesWithH

['Holger', 'Hans']

In [66]:
# opgave 1.B In one line create a list of the numbers 1-100 to the power of 3
numbers = [value**3 for value in range(1,100)]
numbers

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299]

In [108]:
# opgave 1.C Iterate a list of names to create a list of tuples
# where the tuples first value is the length of the name and the second is the name
names = ["Simon","John","Holger","Hans","Frank","Franz"]
namesTuple = tuple([(len(name), name) for name in names])
namesTuple

((5, 'Simon'),
 (4, 'John'),
 (6, 'Holger'),
 (4, 'Hans'),
 (5, 'Frank'),
 (5, 'Franz'))

In [126]:
# opgave 1.D Iterate over each character in a string and get only those that are nummeric
string = "a1b2c3dd55"
numbers = [n for n in string if n.isdigit()]
numbers

['1', '2', '3', '5', '5']

In [184]:
# opgave 1.E Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice
results = {str(j) + " + " + str(i) for j in range(1,7) for i in range(1,7)}
results

{'1 + 1',
 '1 + 2',
 '1 + 3',
 '1 + 4',
 '1 + 5',
 '1 + 6',
 '2 + 1',
 '2 + 2',
 '2 + 3',
 '2 + 4',
 '2 + 5',
 '2 + 6',
 '3 + 1',
 '3 + 2',
 '3 + 3',
 '3 + 4',
 '3 + 5',
 '3 + 6',
 '4 + 1',
 '4 + 2',
 '4 + 3',
 '4 + 4',
 '4 + 5',
 '4 + 6',
 '5 + 1',
 '5 + 2',
 '5 + 3',
 '5 + 4',
 '5 + 5',
 '5 + 6',
 '6 + 1',
 '6 + 2',
 '6 + 3',
 '6 + 4',
 '6 + 5',
 '6 + 6'}

# Create 2 dictionary comprehensions to solve the following:

In [200]:
# opgave 2.A Iterate a list of names and create a dictionary where key is the name and value is the length of the name
dictNames = {name:len(name) for name in names}
dictNames

{'Simon': 5, 'John': 4, 'Holger': 6, 'Hans': 4, 'Frank': 5, 'Franz': 5}

In [206]:
# opgave 2.B Iterate a list of numbers and create a dictionary with (key, value) being (number, squareroot of number)
import math
numb = [1, 49, 64, 81, 100]
dictNumb = {number: math.sqrt(number) for number in numb}
dictNumb

{1: 1.0, 49: 7.0, 64: 8.0, 81: 9.0, 100: 10.0}

In [235]:
# opgave 3 Progammatically using loops create a small program to produce a dictionary
# with all the 2 dice throw combinations as keys and their likelyhood in percent as values

sum = [(j) + (i)for j in range(1,7) for i in range(1,7)]
sumDict = {sumNumb: round((sum.count(sumNumb)*100/36),3) for sumNumb in sum}
sumDict

{2: 2.778,
 3: 5.556,
 4: 8.333,
 5: 11.111,
 6: 13.889,
 7: 16.667,
 8: 13.889,
 9: 11.111,
 10: 8.333,
 11: 5.556,
 12: 2.778}